@model UNICAR_ADMIN.Models.DTOS.ReparacionesDTO

@{
    ViewData["Title"] = "Registrar Reparación";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var kvp in ViewData.ModelState)
            {
                foreach (var error in kvp.Value.Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card shadow-lg rounded-4 p-4 bg-white w-100" style="max-width: 600px;">
        <h3 class="mb-4 text-center">Registrar Reparación de Vehículo</h3>

        <form asp-action="CrearReparacion" asp-controller="Reparacion" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="Descripcion" class="form-label"></label>
                <textarea asp-for="Descripcion" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="costo" class="form-label"></label>
                <input asp-for="costo" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="costo" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="FechaReparacion" class="form-label"></label>
                <input asp-for="FechaReparacion" class="form-control" type="date" />
                <span asp-validation-for="FechaReparacion" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="imageURLFormfile" class="form-label"> </label>
                <input asp-for="imageURLFormfile" class="form-control" type="file" />
                <span asp-validation-for="imageURLFormfile" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="VehiculoId" class="form-label">Vehículo (VIN)</label>
                <select asp-for="VehiculoId" asp-items="Model.listavehiculosVim" class="form-select">
                    <option value="">Seleccione un vehículo</option>
                </select>
                <span asp-validation-for="VehiculoId" class="text-danger"></span>
            </div>


        </form>
    </div>
</div>
